# Ignore output folders
output_athletes/
output_ow/
output_competitionsID/
output_ow_pool_results_integration/
Beta/
API_WorldAquatics_OW_Pool_Results_Integration/output_ow_pool_results_integration/